@import "../../common";

page {
  background-color: #FFFFFF;
}

.water {
  margin-top: rpx(30);
  display: flex;
  flex-direction: column;
  align-items: center;
  image {
    width: rpx(300);
    height: rpx(300);
    transform: scale(1.3);
  }
  .quality {
    color: $bgColor;
    font-size: rpx(100);
    position: absolute;
    left: calc(50% - #{rpx(50)});
    top: rpx(50);
  }
  .tds {
    color: $bgColor;
    position: absolute;
    left: calc(50% - #{rpx(70)});
    top: rpx(220);
  }
}

.desc {
  padding: 0 rpx(30);
  font-size: rpx(24);
  color: #999BA2;
  line-height: rpx(42);
}

.info {
  padding: 0 rpx(30) rpx(30);
  > view {
    display: flex;
    justify-content: space-between;
    line-height: rpx(100);
    @include border();
    > view:first-child {
      font-size: rpx(28);
      color: #333333;
    }
    > view:last-child {
      font-size: rpx(28);
      color: #FF8351;
    }
  }
}

.btn-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  .btn {
    width: rpx(560);
    height: rpx(94);
    line-height: rpx(94);
    border-radius: rpx(94);
    text-align: center;
  }
  > .btn:first-child {
    margin: rpx(50) 0 rpx(30) 0;
    background-color: $bgColor;
    color: #FFFFFF;
  }
  > .btn:last-child {
    border: rpx(3) solid $bgColor;
    color: $bgColor;
  }
}
